In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/UCI_Credit_Card_Rename.csv')
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,def_pay
0,20000.0,2,2,1,24,2,2,-1,-1,-2,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,120000.0,2,2,2,26,-1,2,0,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,90000.0,2,2,2,34,0,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,50000.0,2,2,1,37,0,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,50000.0,1,2,1,57,-1,0,-1,0,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
dfSEX = pd.get_dummies(df.SEX, prefix='SEX')
dfEDUCATION = pd.get_dummies(df.EDUCATION, prefix='EDUCATION')
dfMARRIAGE = pd.get_dummies(df.MARRIAGE, prefix='MARRIAGE')

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
num_data = df.drop(columns=['SEX','EDUCATION','MARRIAGE', 'def_pay'])

In [9]:
scaler = StandardScaler().fit(num_data)
std_num_data = scaler.transform(num_data)

c:\users\kangy\appdata\local\programs\python\python37\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
c:\users\kangy\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.

In [10]:
std_num_data

array([[-1.13672015, -1.24601985,  1.79456386, ..., -0.31413612,
        -0.29338206,  1.87637834],
       [-0.3659805 , -1.02904717, -0.87499115, ..., -0.31413612,
        -0.18087821,  1.87637834],
       [-0.59720239, -0.16115646,  0.01486052, ..., -0.24868274,
        -0.01212243, -0.53294156],
       ...,
       [-1.05964618,  0.16430256,  3.57426721, ..., -0.18322937,
        -0.11900109,  1.87637834],
       [-0.67427636,  0.59824792,  0.90471219, ...,  3.15253642,
        -0.19190359,  1.87637834],
       [-0.90549825,  1.14067961,  0.01486052, ..., -0.24868274,
        -0.23713013,  1.87637834]])

In [ ]:
dfNew = pd.concat([std_num_data, dfSEX, dfEDUCATION, dfMARRIAGE],axis=1)
dfNew.head()

In [23]:
dfNew.to_csv('../data/UCI_Credit_Card_OHE.csv', index=False)

In [ ]:
scaler = StandardScaler().fit(num_data)
std_num_data = scaler.transform(num_data)